Pasturel_etal2018-blx.bib
Pasturel_etal2018-mpgraph.mp
Pasturel_etal2018.top
Pasturel_etal2018.tui
Pasturel_etal2018.aux
Pasturel_etal2018.bbl
Pasturel_etal2018.bcf
Pasturel_etal2018.blg
Pasturel_etal2018.log
Pasturel_etal2018.pdf
Pasturel_etal2018.run.xml
Pasturel_etal2018.synctex.gz
cover.aux
cover.log
cover.pdf
cover.synctex.gz
Pasturel_etal2019-blx.bib
Pasturel_etal2019.aux
Pasturel_etal2019.log
Pasturel_etal2019.out
Pasturel_etal2019.pdf
Pasturel_etal2019.run.xml
Pasturel_etal2019.synctex.gz
Pasturel_etal2019.bbl
Pasturel_etal2019.blg
Pasturel_etal2019.fdb_latexmk
Pasturel_etal2019.fls

*.synctex(busy)
